<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Invitation to join a home on Synkro</title>
  </head>
  <body>
    <div>
      <div>
        <h2>Synkro</h2>
      </div>
      <p>Hello,</p>
      <p>
        {{ owner_name }} invites you to join their home "<strong
          >{{ home_name }}</strong
        >" on Synkro.
      </p>

      <p>Your role in this home will be: <strong>{{ role }}</strong></p>

      <p>
        <a href="{{ invitation_url }}">Accept invitation</a>
      </p>

      <p>This invitation will expire on {{ expiration_date }}.</p>

      <p>
        To join this home, simply click the button above. You will then be
        automatically added to the home after logging in.
      </p>

      <p>
        If you don't have a Synkro account, you'll need to register first with
        this email address before you can accept the invitation.
      </p>

      <p>Regards,<br />The Synkro Team</p>

      <div>
        <p>This is an automated email. Please do not reply to this message.</p>
        <p>&copy; {{ year }} Synkro. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>
